@page

@{
    ViewData["Title"] = "Segurança - HTTPS - Pedro Lopes";
}

<div class="text-center">
    <h1 class="display-4">Bora de https, Alex</h1>
    <p>
        Segue abaixo vídeo interessante, para que vc curta a experiencia.
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/adjw21zOaFA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
